[buildout]
parts = test scripts releaser
develop = .

[test]
recipe = zc.recipe.testrunner
eggs =
    z3c.saconfig [test]
defaults = ['-s', 'z3c.saconfig', '--auto-color', '--auto-progress']

[scripts]
recipe = zc.recipe.egg
eggs = z3c.saconfig
interpreter = py

[releaser]
recipe = zc.recipe.egg
eggs = zest.releaser

[versions]
setuptools      =
zc.buildout     =
SQLAlchemy      = 1.3.10
zope.sqlalchemy = 1.2
